<template>
  <div style="margin-top: 10%">
    <form @submit.prevent="validateConnection">
     <div class="form-group" v-for="(input,k) in inputs" :key="k">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text"  required class="form-control" v-model="input.name">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Email:</label>
                    <input type="email"  required class="form-control" v-model="input.email">
                </div>
                <span v-bind:id="'id'+input.id"  :ref="'id'+input.id" ></span>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password"required class="form-control" v-model="input.password">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <i class="fa fa-minus" style="color: red !important;" @click="remove(k)" v-show="k || ( !k && inputs.length > 1)"></i>&nbsp;
                    <i class="fa fa-plus" style="color: green !important;" @click="add(k)" v-show="k == inputs.length-1"></i>
                </div>
             </div>
        </div>

    </div>

        <div class="form-group">
          <button id="save" :disabled="disabled" class="btn btn-primary">Create</button>
        </div>
    </form>
  </div>
</template>

<script>
    export default {
        data(){
        return {
          account:
          {
              password: ''
          },
          inputs: [
            {
              email: '',
              password: '',
              id:'',
              response:'',
              name: '',

            }
          ],
         count: 0,
         responseData:true,
         disabled:false
        }
    },
    methods: {

      async validateConnection()
     {
         this.responseData = true;
         let self = this ;
          for(var i=0;i<this.inputs.length; i++)
         {
             this.disabled = true;
             var data = '';
             data = this.$refs;

              await this.axios.post('api/validate-account', this.inputs[i]).then((response)  => {

                             if(response.data === 'Connection Failed ! Check Username or Password' || response.data === 'Account already exists with this email!'){
                                 console.log('in if');
                                 alert(this.inputs[i].email+": "+ response.data);
                                this.responseData = false;
                            }
             });
         }
         this.disabled = false;
          if (this.responseData === true ){
              this.addPost();
          }
     },


      addPost(){
          alert('Connection Success');
        let uri ='api/email-account/create';
        this.axios.post(uri, this.inputs).then((response) => {
          this.$router.push({name: 'posts'});
        });
      },
      add(index) {
        this.count++;
        this.inputs.push({ email: '' ,id:this.count});
      },
      remove(index) {
        this.inputs.splice(index, 1);
      }
    },
     computed:{
            checkData(){
                if ( this.responseData){
                    alert('in IF');
                }


            }


        }

  }
</script>
