<template>
  <div style="margin-top: 10%">
     <form @submit.prevent="validateConnection">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Name:</label>
            <input required type="text" class="form-control" v-model="account.name">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Email:</label>
            <input required type="email" class="form-control" v-model="account.email">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Password:</label>
            <input required  class="form-control" v-model="account.password" >
          </div>
        </div>

        </div>
        <br />
        <div class="form-group">
          <button class="btn btn-primary">Update</button>
        </div>
    </form>
    <loading :active.sync="isLoading" ></loading>

  </div>

</template>

<script>
  import Loading from 'vue-loading-overlay';
  // Import stylesheet
  import 'vue-loading-overlay/dist/vue-loading.css';
    export default {

      data() {
        return {
          account: {},
          responseData:true,
          disabled:false,
          isLoading: false,

        }
      },
      created() {
        let uri = `http://127.0.0.1:8000/api/email-account/accounts/account/edit/${this.$route.params.id}`;
        this.axios.get(uri).then((response) => {
            this.account = response.data;
        });
      },
      components: {
        Loading
      },
      methods: {
        updatePost() {
          let uri = `http://127.0.0.1:8000/api/email-account/accounts/account/update/${this.$route.params.id}`;
          this.axios.post(uri, this.account).then((response) => {
            this.$router.push({name: 'posts'});
          });
        },
        async validateConnection()
        {
          this.isLoading = true;
          this.responseData = true;
          let self = this ;
            this.disabled = true;
            var data = '';
            data = this.$refs;

            await this.axios.post('http://127.0.0.1:8000/api/validate-account', this.account).then((response)  => {
              this.isLoading = false;
              if(response.data === 'Connection Failed ! Check Username or Password' || response.data === 'Account already exists with this email!'){
                console.log('in if');
                alert(this.account.email+": "+ response.data);
                this.responseData = false;
              }
            });
          this.disabled = false;
          if (this.responseData === true ){
            this.updatePost();
          }
        },

      }
    }
</script>
