<template>
    <div class="users-style">

        <div style="margin-bottom: 20px;">
            <h2>&nbsp;</h2>
        </div>

        <div class="row">
            <div class="col-md-3">
                <input required class="form-control input" type="text" v-model="search" placeholder="Search..."
                      style="width: 250px;">
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary" v-on:click="searchData"><i class="fa fa-search"></i>Search</button>
            </div>
            <div class="col-md-3">
                <div class="select">
                    <select class="form-control" v-model="emailType"  v-on:change="changeType(page = 1,emailType)">
                        <option selected value="1">Inbox</option>
                        <option value="2" ><i class=" fa-paper-plane"></i>Sent</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="overflow-x:auto;">
            <table class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th v-for="column in columns" :key="column.name" @click="sortBy(column.name)"
                        :class="sortKey === column.name ? (sortOrders[column.name] > 0 ? 'sorting_asc' : 'sorting_desc') : 'sorting'"
                        style=" cursor:pointer;">
                        {{column.label}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(user,key) in laravelData.data" :key="user.id">

                    <td v-if="user.emails != null">{{key+1}}</td>
                    <td v-if="user.emails != null">{{user.emails.subject}}</td>
                    <td v-if="user.emails != null">{{user.emails.email_sent_from}}</td>
                    <td v-if="user.email_account != null">{{user.email_account.email}}</td>
                    <td v-if="user.email_account != null">{{user.email_account.name}}</td>
                    <td v-if="user.emails != null">{{user.emails.bcc}}</td>
                    <td v-if="user.emails != null">{{user.emails.cc}}</td>
                    <td v-if="user.emails != null">{{user.emails.date_of_email}}</td>
                    <td v-if="user.emails != null"> <button class="btn btn-primary " @click="show(user.emails)">Body View</button></td>
                </tr>
                <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="fullPage"></loading>
                </tbody>
            </table>

        </div>
        <modal  name="hello-world">

            {{this.selectedUser.body}}
        </modal>

        <div  v-if="isVisible"  style="float: right">
            <pagination :data="laravelData" @pagination-change-page="getUsers"></pagination>
        </div>
    </div>
</template>
<style>
    #page-wrapper > div > div:nth-child(4) > div > div.v--modal-overlay > div > div.v--modal-box.v--modal{
        padding: 40px;
        overflow-y: auto;
        overflow-x: auto;
        width: 850px !important;
        height: 400px !important;
    }
</style>
<script>
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';

    export default {
        created() {
            this.getUsers();
        },

        data() {


            let sortOrders = {};
            let columns = [
                {label: 'No.', name: 'created_at' },
                {label: 'Subject', name: 'created_at' },
                {label: 'Sender Email', name: 'created_at'},
                {label: 'Employee Email', name: 'created_at'},
                {label: 'Employee Name', name: 'created_at'},
                {label: 'Bcc', name: 'created_at'},
                {label: 'CC', name: 'created_at'},
                {label: 'Date', name: 'created_at'},
                {label: 'Email ', name: 'created_at'},
            ];
            columns.forEach((column) => {
                sortOrders[column.name] = -1;
            });

            return {
                emailType: 1,

                renderComponent: false,
                users: [],
                columns: columns,
                sortKey: 'created_at',
                sortOrders: sortOrders,
                length: 10,
                search: '',
                tableShow: {
                    showdata: true,
                },
                laravelData: {},
                selectedUser: '',
                isLoading: false,
                fullPage: true,
                isVisible: true

            }
        },
        components: {
            Loading
        },

        methods: {
            searchData(){
                    console.log(this.search);
                if (this.search === ''){
                    this.isVisible = true;
                    var page = 1;
                    this.getUsers(page,this.emailType);

                }else {
                    this.isLoading = true;
                    axios.post(`api/emails/search`,{search:this.search ,type:this.emailType })
                        .then(response => {
                            this.isVisible = false;
                            this.isLoading = false;
                            this.laravelData = response.data;
                            this.users = response.data;
                            this.pagination.total = this.users.length;

                        })
                        .catch(errors => {
                            console.log(errors);
                        });
                }

            },
            changeType: function(page = 1,emailType) {
                this.getUsers(page = 1,emailType);
            },
            getUsers(page = 1,emailType) {
                this.isVisible = true;
                this.isLoading = true;
                let id = emailType?emailType:1;
                axios.get(`/api/emails/type/`+id+'?page='+ page, {params: this.tableShow})
                    .then(response => {
                        this.isLoading = false;
                        this.laravelData = response.data;

                        console.log( this.laravelData);
                        this.users = response.data;
                        this.pagination.total = this.users.length;
                    })
                    .catch(errors => {
                        console.log(errors);
                    })
                ;
            },
            show (item) {
                this.selectedUser = item;
                this.$modal.show('hello-world')

            },
            hide () {
                this.$modal.hide('hello-world');
            }
        }
    };
</script>


