<template>
    <div class="users-style">

        <div style="margin-bottom: 20px;">
            <h2>&nbsp;</h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="select">
                    <select class="form-control" v-model="emailType"  v-on:change="changeType(page = 1,emailType)">
                        <option selected value="1">Inbox</option>
                        <option value="2" ><i class=" fa-paper-plane"></i>Sent</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="overflow-x:auto;">
            <table class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th v-for="column in columns" :key="column.name" @click="sortBy(column.name)"
                        :class="sortKey === column.name ? (sortOrders[column.name] > 0 ? 'sorting_asc' : 'sorting_desc') : 'sorting'"
                        style=" cursor:pointer;">
                        {{column.label}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(user,key) in laravelData.data" :key="user.id">
                    <td>{{key+1}}</td>
                    <td>{{user.emails.subject}}</td>
                    <td>{{user.emails.email_sent_from}}</td>
                    <td>{{user.email_account.email}}</td>
                    <td>{{user.emails.bcc}}</td>
                    <td>{{user.emails.cc}}</td>
                    <td>{{user.emails.date_of_email}}</td>
                    <td> <button class="btn btn-primary " @click="show(user.emails)">Body View</button></td>
                </tr>
                </tbody>
            </table>
            <loading :active.sync="isLoading"
                     :can-cancel="true"
                     :is-full-page="fullPage"></loading>
        </div>
        <modal name="hello-world">
            {{this.selectedUser.body}}
        </modal>
        <div style="float: right">
            <pagination :data="laravelData" @pagination-change-page="getUsers"></pagination>
        </div>
    </div>
</template>
<style>
    #page-wrapper > div > div:nth-child(4) > div > div.v--modal-overlay > div > div.v--modal-box.v--modal{
        padding: 40px;
        overflow-y: auto;
        overflow-x: auto;
        width: 850px !important;
        height: 400px !important;
    }
</style>
<script>
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    export default {
        created() {
            this.getUsers();
        },

        data() {


            let sortOrders = {};
            let columns = [
                {label: 'No.', name: 'created_at' },
                {label: 'Subject', name: 'created_at' },
                {label: 'Sender Email', name: 'created_at'},
                {label: 'Employee Email', name: 'created_at'},
                {label: 'Bcc', name: 'created_at'},
                {label: 'CC', name: 'created_at'},
                {label: 'Date', name: 'created_at'},
                {label: 'Email ', name: 'created_at'},
            ];
            columns.forEach((column) => {
                sortOrders[column.name] = -1;
            });

            return {
                emailType: 1,

                renderComponent: false,
                users: [],
                columns: columns,
                sortKey: 'created_at',
                sortOrders: sortOrders,
                length: 10,
                search: '',
                tableShow: {
                    showdata: true,
                },
                pagination: {
                    currentPage: 1,
                    total: '',
                    nextPage: '',
                    prevPage: '',
                    from: '',
                    to: ''
                },
                laravelData: {},
                selectedUser: '',

            }
        },
        components: {
            Loading
        },
        methods: {
            changeType: function(page = 1,emailType) {
                this.getUsers(page = 1,emailType);
            },


            getUsers(page = 1,emailType) {
                this.isLoading = true;
                let id = emailType?emailType:1;
                axios.get(`/api/fetch/${this.$route.params.id}/type/`+id+'?page='+ page, {params: this.tableShow})
                    .then(response => {
                        this.isLoading = false;
                        this.laravelData = response.data;
                        this.users = response.data;
                        this.pagination.total = this.users.length;
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            show (item) {
                this.selectedUser = item;
                this.$modal.show('hello-world')

            },
            hide () {
                this.$modal.hide('hello-world');
            }

        },
        computed: {

        }
    };
</script>


