a.new {
    background-color: #edf2fa;
}



  table.home_page_table {
	display: block;
	width: auto;
}

  table.home_page_table * {
	font-size: 11px;
	color: black;
}

table.home_page_table tr th,
table.home_page_table tr td {
	padding: 5px 10px;
	min-width: 100px;
	vertical-align: middle;
	border: 2px solid #000;
}



.border-none {
    border: none !important;
}
.bg-blue {
    background-color: rgb(181, 199, 230);
    color: #333333;
}
.bg-green {
    background-color: rgb(170, 206, 145);
}

.table-responsive{
	padding: 20px 25px;
}

.fc-day-grid-event .fc-content {
	white-space: normal !important;
	overflow: scroll !important;
}
.comment-center .mail-contnet .mail-desc{
	max-height: none !important;
}
.dataTables_wrapper {
	position: unset !important;
}
.number-right{
	text-align: right;
	padding-right: 20px !important;
}

/*******Css by itr*******/
.plus-color, .minus-color {
    font-size: 22px;
	cursor: pointer;
}
.plus-color {
    color: #5cb85c;
}
.minus-color {
    color: #ac2925;
} 

/***************Css for user form*********************/
#user_form_outer
{
	
}
#user_form_outer header{
	/* background-color: rgb(103, 58, 183); */
	background-color: rgb(15, 85, 146);
    color: rgba(255, 255, 255, 1);
	padding: 140px;
	
}
#user_form_outer .form_outer
{
	/* border-top: 8px rgb(174, 121, 255) solid; */
	border-top: 8px rgba(15, 85, 146, 0.78) solid;
    background-color: #ffffff;
	position: relative;
    top: -110px;
	padding-bottom:20px;
}
#user_form_outer .form_outer h1
{
	font-weight: 400;
	margin: 40px 0px;
	overflow-wrap: break-word;
}
#user_form_outer .form_outer .action_buttons
{
	margin-top:40px;
}
#user_form_outer .form_outer .action_buttons .btn-button
{
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    word-wrap: break-word;
    font-size: 14px;
    font-weight: 500;
    transition: background .2s .1s;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    padding: 7px 25px;
}
.bg-white {
	background: white !important;
}

#user_form_outer footer
{
	background-color: rgb(240, 235, 248);
	padding-bottom:210px;
}
#user_form_outer .form_outer .question_section
{
	background: #0f5592;  /*#673ab7;*/
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    width: 75%;
	margin-bottom: 30px;
	overflow-wrap: break-word;
	overflow: hidden;
}
#user_form_outer .form_outer .admin_question_section
{
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
	margin-bottom: 30px;
	border:0px;
}
#user_form_outer .form_outer .admin_question_section.Haserror
{
	background-color: #fce8e6;
}
#user_form_outer input
{
	border:0px;
	padding: 0px;
	background: #0f5592; /*#673ab7*/;
}
#user_form_outer .normal_questions input
{
	border:0px;
	padding: 0px;
	font-size: 16px;
    margin-top: 25px;
    border-bottom: 1px solid #cccccc;
	background: #ffffff;
	box-shadow: unset;
	width:70%;
	background: unset;
}
#user_form_outer .objective_questions input
{
	border:0px;
	padding: 0px;
	font-size: 16px;
    margin-top: 25px;
    border-bottom: 1px solid #cccccc;
	background: #ffffff;
	width:20px;
	height:20px;
	margin-right: 10px;
    position: relative;
    top: 4px;
	box-shadow: unset;
	background: unset;
}
#user_form_outer .normal_questions input:after 
{
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
#user_form_outer .normal_questions input:active:after 
{
  width: 100%;
  background: #673ab7;
}
#user_form_outer .objective_questions input:after 
{
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
#user_form_outer .objective_questions input:active:after 
{
  width: 100%;
  background: #673ab7;
}

#user_form_outer .form_outer .question_section_heading
{
    width: 100%;
	margin-bottom: 20px;
}
.no-padding
{
	padding:0px;
}
.padding-left-30
{
	padding-left:30px;
}
.freebirdMaterialHeaderbannerSectionTriangle
{
	height: 100%;
    overflow: visible;
    position: absolute;
    width: 90%;
}
.freebirdSolidFill
{
	fill: rgb(103, 58, 183);
    stroke: rgb(103, 58, 183);
}
 .triangle-topleft {
	border-top: 50px solid rgb(103, 58, 183);
    border-right: 26px solid transparent;
    position: absolute;
    top: -1px;
    right: -27px;
}
span.required
{
	color:red;
	
}
.hidden_only
{
	display:none;
}

@media (max-width:630px) {

	.triangle-topleft {

		display:none;

	}

}@media (max-width:430px) {

	#user_form_outer .form_outer h1
	{
		
	}

}
.invoice-checkbox{
	height: 20px;
    width: 20px;
}

/*-----------Text more less css------------*/
.morecontent span {
	display: none;
}

/*.morelink {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  margin-top: 20px;
  font-size: 13px;
  color: #337ab7;
}

.morelink:after {
  content: '';
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-top: 6px;
  margin-left: 10px;
  border: 1px solid #337ab7;
  border-top: none;
  border-right: none;
  background: transparent;
  transform: rotate(-45deg);
  transform-origin: bottom;
}

.morelink.less:after {
  margin-left: 7px;
  transform: rotate(135deg);
}*/
/*-----------Text more less css------------*/
	.commented_user{
    color: #0000FF !important;
    font-weight: 600;
  }

  .show_property_cmnt_section p{
    margin-bottom: 0px;
  }

  .show_cmnt p{
    margin-bottom: 0px;
  }

  .show_cmnt_section p{
    margin-bottom: 0px;
  }

  .show_item_cmnt_section p{
    margin-bottom: 0px;
  }

  .load_item_comment_section{
    color: #337ab7 !important;
  }

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  background: #cfd2d4 !important;
}
.dp_open_left{
  right: 0 !important;
  left: unset !important;
}

.dt_custom_info .dataTables_info{
  padding-top: 0px !important;
}