.bg-gray {
	background-color: #dadada;
}

.bg-blue {
	background-color: #b4c6e7;
}

.bg-green {
	background-color: #92cf51;
}

.bg-yellow {
	background-color: #fefe00;
}

.bg-pink {
	background-color: #fbe4d5;
}

.color-red,
.color-red * {
	color: #f53637 !important;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

.bolder {
	font-weight: bold;
}

#property-comparison * {
	font-size: 11px;
	color: #000000;
}

#property-comparison {
	border: 1px solid #000000;
	margin-bottom: 70px;
}
#property-comparison tr th,
#property-comparison tr td {
	min-width: 100px;
	padding: 3.5px 5px;
	border-color: #000000;
}

tr td.option, tr th.option {
	min-width: 10px !important;
}

#property-comparison tr td:nth-child(3),
#property-comparison tr td:nth-child(4),
#property-comparison tr td:nth-child(5),
#property-comparison tr td:nth-child(6),
#property-comparison tr td:nth-child(7),
#property-comparison tr td:nth-child(8),
#property-comparison tr td:nth-child(9),
#property-comparison tr td:nth-child(10),
#property-comparison tr td:nth-child(11),
#property-comparison tr td:nth-child(12),
#property-comparison tr td:nth-child(13),
#property-comparison tr td:nth-child(14),
#property-comparison tr td:nth-child(15) {
	text-align: right !important;
}