.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

.color-red {
	color: #f53132 !important;
}

.bg-brown {
	background-color: #333333;
	color: #ffffff;
}

.bg-light-blue {
	background-color: #9BCDFB;
}

.bg-gray {
	background-color: #c0c0c0;
	color: #333333;
}

.bg-light-green {
	background-color: rgb(226,239,219);
	color: #333333;
}

.bg-yellow {
	background-color: #ffff99;
	color: #333333;
}

.bg-orange {
	background-color: rgb(253, 191, 45);
	color: #333333;
}

.bg-red {
	background-color: #FEC7CE;
	color: #333333;
}

.bg-blue {
	background-color: rgb(181, 199, 230);
	color: #333333;
}

.bg-green{
	background-color: #9ACA27;
	color: #333333;
}

.border-none {
	border: 0 !important;
}
.border {
	border: 2px solid #090909;
}
.border-right {
	border-right: 2px solid #090909;
}
.border-no-right {
	border: 2px solid #090909;
	border-right: 0px;
}
.border-bottom {
	border-bottom: 2px solid #090909;
}

.border-no-bottom {
	border: 2px solid #090909;
	border-bottom: 0px;
}
.border-no-left {
	border: 2px solid #090909;
	border-left: 0px;
}

.border-no-top {
	border: 2px solid #090909;
	border-top: 0px;
}

.forecast-details {
	display: flex;
}

.forecast-details table.forecast-table {
	display: block;
	width: auto;
}

.forecast-details table.forecast-table * {
	font-size: 11px;
	color: black;
}

.forecast-details table.forecast-table tr.header th,
.forecast-details table.forecast-table tr.header td {
	text-align: center;
}

.forecast-details table.forecast-table tr th,
.forecast-details table.forecast-table tr td {
	padding: 2.5px 5px;
	min-width: 100px;
	vertical-align: middle;
}

.forecast-details table.forecast-table tr th.note,
.forecast-details table.forecast-table tr td.note {
	padding: 2.5px 5px;
	min-width: 400px !important;
	vertical-align: middle;
}

table.forecast-table tr td.checkbox-td,
table.forecast-table tr th.checkbox-td{
	min-width: auto !important;
	width: 30px !important;
}

.forecast-details table.forecast-table tr th.text,
.forecast-details table.forecast-table tr td.text {
	padding: 2.5px 5px;
	min-width: 200px !important;
	vertical-align: middle;
}

.forecast-details table.table-condensed tr th,
.forecast-details table.table-condensed tr td{
	padding: 5px !important;
	min-width: auto !important;
}

.tenancy-schedules {
	display: flex;
}

.tenancy-schedules table.forecast-table {
	display: block;
	width: auto;
}

.tenancy-schedules table.forecast-table * {
	font-size: 11px;
	color: black;
}

.tenancy-schedules table.forecast-table tr.header th,
.tenancy-schedules table.forecast-table tr.header td {
	text-align: center;
}

.tenancy-schedules table.forecast-table tr th,
.tenancy-schedules table.forecast-table tr td {
	padding: 2.5px 5px;
	min-width: 150px;
	vertical-align: middle;
}
.tenancy-schedules table.forecast-table tr th.note,
.tenancy-schedules table.forecast-table tr td.note {
	padding: 2.5px 5px;
	min-width: 400px !important;
	vertical-align: middle;
}

.tenancy-schedules table.forecast-table tr th.text,
.tenancy-schedules table.forecast-table tr td.text {
	padding: 2.5px 5px;
	min-width: 200px !important;
	vertical-align: middle;
}

.tenancy-schedules table.table-condensed tr th, 
.tenancy-schedules table.table-condensed tr td{
	padding: 5px !important;
	min-width: auto !important;
}



#property-details {
	display: flex;
}

#property-details table.property-table {
	display: block;
	width: auto;
}

#property-details table.property-table * {
	font-size: 11px;
}

#property-details table.property-table:first-child tr th,
#property-details table.property-table:first-child tr td {
	padding: 2.5px 5px;
	min-width: 100px;
	vertical-align: middle;
}

#property-details table.property-table:last-child tr th,
#property-details table.property-table:last-child tr td {
	padding: 2.5px 5px;
	min-width: 150px;
	vertical-align: middle;
}

.property-details table.property-table tr th.note,
.property-details table.property-table tr td.note {
	padding: 2.5px 5px;
	min-width: 400px !important;
	vertical-align: middle;
}

#property-details table.table-condensed tr th,
#property-details table.table-condensed tr td{
	padding: 5px !important;
	min-width: auto !important;
}

#property-details {
	display: flex;
}

.property-details table.property-table {
	display: block;
	width: auto;
}

.property-details table.property-table * {
	font-size: 11px;
}

.property-details table.property-table:first-child tr th,
.property-details table.property-table:first-child tr td {
	padding: 2.5px 5px;
	min-width: 100px;
	vertical-align: middle;
}

.property-details table.property-table:last-child tr th,
.property-details table.property-table:last-child tr td {
	padding: 2.5px 5px;
	min-width: 150px;
	vertical-align: middle;
}

.property-details table.table-condensed tr th,
.property-details table.table-condensed tr td{
	padding: 5px !important;
	min-width: auto !important;
}
#tenant-listing .table tbody tr td {
	border: 0px;
	background-color: #ffff99;
	text-align: right;
}
#tenant-listing .table tbody tr th {
	border: 1px solid #000000;
	font-weight: normal;
	background-color: #dddddd;
	text-align: center;
}
.bg-white {
	background: white !important;
}

#tenant-listing .table tbody tr td:nth-child(6) {
	text-align: center;
}
#tenant-listing .table tbody tr td:nth-child(6),
#tenant-listing .table tbody tr td:nth-child(7) {
	background-color: white;
}

#swot-template .table tbody tr td {
	border: 0px;
	background-color: #ffff99;
}
#swot-template .table tbody tr th {
	border: 1px solid #000000;
	font-weight: normal;
	background-color: #eeeeee;
	text-align: center;
	font-size: 32px;
}
#swot-template .table tbody tr td:nth-child(2) {
	border-left: 1px solid #000000;
}

.editable-container .editable-input textarea{
	height: 100px !important;
}

#schl-table {

}
#schl-table .border {
	border: 1px solid #000;
}
#schl-table .border-top {
	border-top: 1px solid #000;
}
#schl-table .border-right {
	border-right: 1px solid #000;
}
#schl-table .border-bottom {
	border-bottom: 1px solid #000;
}
#schl-table .border-left {
	border-left: 1px solid #000;
}
#schl-table tbody {

}
#schl-table tbody tr {
	border: 0px;
}
#schl-table tbody tr td {
	padding: 5px;
	border: 0px;
	vertical-align: middle;
}
#schl-table tbody tr th {
	padding: 5px;
	border: 0px;
	vertical-align: middle;
}

#clever-fit {
	display: flex !important;
}
#clever-fit .border {
	border: 1px solid #000;
}
#clever-fit .border-top {
	border-top: 1px solid #000;
}
#clever-fit .border-right {
	border-right: 1px solid #000;
}
#clever-fit .border-bottom {
	border-bottom: 1px solid #000;
}
#clever-fit .border-left {
	border-left: 1px solid #000;
}
#clever-fit tbody {

}
#clever-fit tbody tr {
	border: 0px;
}
#clever-fit tbody tr td {
	padding: 5px;
	border: 0;
	vertical-align: middle;
	min-width: 120px;
}
#clever-fit tbody tr th {
	padding: 5px;
	border: 0;
	vertical-align: middle;
	min-width: 120px;
}

#clever-fit table.table {
	display: block !important;
	width: auto !important;
}

#clever-fit table.table * {
	font-size: 14px;
}

#planung-berechnung-wohnen {

}
#planung-berechnung-wohnen .border {
	border: 1px solid #000;
}
#planung-berechnung-wohnen .border-top {
	border-top: 1px solid #000;
}
#planung-berechnung-wohnen .border-right {
	border-right: 1px solid #000;
}
#planung-berechnung-wohnen .border-bottom {
	border-bottom: 1px solid #000;
}
#planung-berechnung-wohnen .border-left {
	border-left: 1px solid #000;
}
#planung-berechnung-wohnen tbody {

}
#planung-berechnung-wohnen tbody tr {
	border: 0px;
}
#planung-berechnung-wohnen tbody tr td {
	padding: 5px;
	border: 0px;
	vertical-align: middle;
}
#planung-berechnung-wohnen tbody tr th {
	padding: 5px;
	border: 0px;
	vertical-align: middle;
}
#planung-berechnung-wohnen .blue {
	background-color: #9bc2e6;
}
#planung-berechnung-wohnen .green {
	background-color: #c6e0b4;
}
#planung-berechnung-wohnen .dark {
	background-color: #bfbfbf;
}
#planung-berechnung-wohnen .yellow {
	background-color: #fff2cc;
}

.editable-container.popover {
	z-index: 9999 !important;
}
.white-box.table-responsive {
	padding-top: 10px !important;
}
#choose_bank{
	padding-top: 50px !important;
}




#dashboard-contain .table>tbody>tr>td, 
#dashboard-contain .table>tbody>tr>th, 
#dashboard-contain .table>tfoot>tr>td, 
#dashboard-contain .table>tfoot>tr>th, 
#dashboard-contain .table>thead>tr>td, 
#dashboard-contain .table>thead>tr>th {
    padding: 15px 2px;
}
#dashboard-contain th{
	font-size: 12px;
}
.item-inactive,.item-pastactive{
    background-color: #a0a0a0 !important;
}

.item-futureactive{
    background-color: #cccaca !important;
}

h3.title-tag{
   width: 560px;
}
.change-in-user{
   min-width: 40px;	
}
.uploadeds {
	    list-style: none;
	    margin-top: 10px;
	}
	.uploadeds .delete-attachment {
	    margin-left: 15px;
	    color: red;
	}
	.logtable th, .logtable td {
	    padding: 5px;
	    width: auto;
	}
	.logtable th {
	    color: white;
	    text-align: center;
	}
	.logtable {
	    width: 100%;
	    background: white;
	}
	.recommended-section .form-control {
	    background: transparent;
	}
	.recommended-section label {
	    margin-top: 45px;
	}
	.recommended-section table.table>tbody>tr>th, .recommended-section table.table>tbody>tr>td {
	    border-top: none;
	    padding: 8px 8px;
	    width: 40% !important;
	}
	.pl-20 {
	    padding-left: 20px !important;
	}
	.recommended-section th {
	    font-weight: bold;
	}
	#rtab-tab1 .title-tag {
	    width: 220px;
	}
	@media (min-width: 1200px) {
	    .quick-sheet-form .col-lg-3 {
	        width: 20%;
	    }
	}
	@media (min-width: 1600px) {
	    #rtab-tab1 .title-tag {
	        width: 340px;
	    }
	}
	.sheet-section-1 label {
	    font-weight: bold;
	}
	.sheet-section-1 .col-lg-2 {
	    padding-right: 0px !important;
	}
	.sheet-section-2 .col-lg-1, .sheet-section-2 .col-lg-2 {
	    padding-right: 0px !important;
	}
	.sheet-section-2 label {
	    padding-top: 7px;
	}
	.note {
	    background: #edf1f5 !important;
	}
	.lease-type option {
	    background: white;
	    color: black;
	}
	.select-bg-green, .lease-type option[value="Zusage"] {
	    background: green;
	    color: white;
	}
	.select-bg-red, .lease-type option[value="Absage"] {
	    background: red;
	    color: white;
	}
	.select-bg-yellow, .lease-type option[value="Mietvertrag ausgetauscht"] {
	    background: yellow;
	    color: black;
	}
	.bg-light-gray {
	    background: gray;
	}
	#image_preview3 input.form-control {
	    width: 153px;
	    clear: both;
	    margin-top: 170px;
	}
	div#image_preview3 div {
	    display: inline-block;
	}
	.warning_date {
	    float: left;
	    margin-left: 20px;
	}
	.warning-price {
	    float: right;
	}
	.warning-price-check {
	    float: right;
	    margin-top: 0px;
	}
	.title-warning {
	    float: left;
	    clear: both;
	}
	.option-check {
	    float: left;
	    clear: both;
	    margin: 0px 0px 0px !important;
	}
	.item-pastactive .no-bg, .item-futureactive .no-bg {
	    background-color: white !important;
	}
	.delete-file-multiple {
	    color: #FF0000 !important;
	    cursor: pointer;
	}
	#swot-template .table tbody tr td {
	    background: #fff !important;
	}
	#swat_form label {
	    font-weight: 700;
	    width: 150px;
	}
	.pdfDeleteBtn {
	    float: right;
	    color: #FF0000;
	    position: absolute;
	    top: 10px;
	    right: 10px;
	}
	.pdf-file-icon {
	    position: absolute;
	    bottom: 7px;
	    left: 70px;
	}
	.popover.editable-container {
	    /*margin-top: 100px;*/
	}
	.set_as_standard {
	    float: left;
	    margin-right: 30px;
	    padding: 6px;
	    border-color: #dddddd;
	}
	.remove-tenant {
	    color: red;
	    font-weight: bold;
	    margin-left: 5px;
	}
	.hide {
	    display: none;
	}
	.img-preview-div .creating-ads-img-wrap {
	    width: auto;
	}
	.img-preview-div .img-responsive {
	    height: 100%;
	}
	.img-preview-div {
	    float: left;
	    width: 100%;
	}
	.vacant-form .select2-container, .vermi-form .select2-container {
	    width: 400px !important;
	}
	.select-2-large .select2-container {
	    width: 300px !important;
	}
	.remove-sheet {
	    color: red;
	    font-weight: bold;
	    cursor: pointer;
	    margin-left: 10px;
	}
	.nav-tabs {
	    font-family: arial, sans-serif
	}
	.tab-content {
	    font-family: arial, sans-serif
	}
	#add-p-bank .select2-container {
	    width: 300px !important;
	}

	 .table>tbody.sheet-tenant-list>tr>td{
	 	padding: 8px;
	 }
	 .sheet-tenant-list .date-change-checkbox,
	 .sheet-tenant-list .is_current_net-checkbox{
	 	margin-top: 12px;
	 }
	 .sheet-tenant-list td.text-right{
	 	padding-top: 16px !important;
	 }

	.tenant-list .note-input {
	    width: 65%;
	    display: inline-block;
	}
	.tenant-list .l-date {
	    width: 80%;
	    display: inline-block;
	}
	.tenant-list .more-5 {
	    width: 11.666% !important;
	}
	.tenant-list .less-5 {
	    width: 13.333% !important;
	}
	.tenant-list .col-sm-1, .tenant-list .col-sm-2 {
	    padding-right: 2px !important;
	    padding-left: 2px !important;
	}
	.tenant-list .col-sm-1 {
	    width: 9% !important;
	}
	.tenant-list .is_current_net-checkbox, .tenant-list .date-change-checkbox {
	    float: right;
	    margin: 13px 1px 0;
	}
	.change-en-user {
	    width: 80px !important;
	}
	.upload-button-einkauf {
	    margin: 5px;
	}
	.uploaded-files-einkauf {
	    float: left;
	    margin: 0px 5px;
	}
	.uploaded-files-einkauf a {
	    font-size: 20px;
	    margin: 0px 2px;
	}
	table.einkauf-prop-table th a.inline-edit, table.einkauf-prop-table td a.inline-edit {
	    cursor: default;
	    color: #797979 !important;
	    border-bottom: none;
	}
	table.budget-prop-table th, table.budget-prop-table td, table.einkauf-prop-table th, table.einkauf-prop-table td {
	    width: 105px !important;
	    min-width: 105px !important;
	}
	table.budget-table th a.inline-edit, table.budget-table td a.inline-edit {
	    cursor: pointer;
	    color: #0088cc !important;
	    border-bottom: dashed 1px #0088cc !important;
	}
	.head-title-sort th {
	    cursor: pointer;
	}

#recommended_tab .fa-link,
#recommended_tab .fa-trash
{
	font-size: 18px;
}
@media (min-width: 992px){
	#form_ao_cost .col-md-3{
		width: 20%;
	}
}

.tenancy-schedules .btn-primary {
	color: #fff !important;
}

.show_rec_cmnt_section .hideContent {
    overflow: hidden;
    line-height: 1.6em;
    height: 3.2em;
    /*font-size: 14px;*/
}

.show_rec_cmnt_section .showContent {
    line-height: 1.6em;
    height: auto;
}
.show_rec_cmnt_section .showContent{
    height: auto;
}

.show_rec_cmnt_section .show-more {
    padding: 10px 0;
    text-align: center;
}