<template>
  <div>
    <nav class="navbar-header">
      <ul class="nav navbar-top-links navbar-left">
        <li class="nav-item">
          <router-link to="/mail-box" class="nav-link">Emails</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/create" class="nav-link">Create Account</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/email-accounts" class="nav-link">Accounts</router-link>
        </li>
      </ul>
    </nav><br/>
    <transition>
      <router-view></router-view>
    </transition>
  </div>
</template>

<style>
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s
    }
    .fade-enter, .fade-leave-active {
      opacity: 0
    }
</style>

<script>

    export default{
    }
</script>
